<div class="jumbotron">
  <h1>Tree Configuration</h1>

  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Welcome to my application!
  </p>
</div>

<!--<div data-ng-app>-->
<!--<script type="text/ng-template" id="node_template.html">-->
<!--{{tree.id}}-->
<!--<ul>-->
<!--<li data-ng-repeat="tree in tree.childrens"-->
<!--data-ng-include="'node_template.html'"></li>-->
<!--</ul>-->
<!--</script>-->
<!--<ul>-->
<!--<li data-ng-repeat="tree in tree" data-ng-include="'node_template.html'"></li>-->
<!--</ul>-->
<!--</div>-->
