<div class="viewPageContainer">
  <h3><b>Update a node</b></h3>

  <form name="updateForm">
    <div class="formText">Node ID:</div>
    <div class="formElement"><select name="idNode"
                                     ng-options="node.id as node.id for node in nodes.nodes track by node.id"
                                     ng-model="nodeId" class="inputStyle" required></select></div>
    <div class="formText">Key:</div>
    <div class="formElement"><input type="text" name="keyInput" ng-model="key" class="inputStyle" required></div>
    <div class="formText">Value:</div>
    <div class="formElement"><input type="text" name="valueInput" ng-model="info" class="inputStyle" required></div>
    <div class="formButtonContainer">
      <button class="myBtn" ng-click="updateNode(); refreshTree()" ng-disabled="updateForm.$invalid">Update node</button>
    </div>
  </form>

  <div class="resultText">{{message.message}}</div>
</div>
