<div class="viewPageContainer">
  <h3><b>Update parent of node</b></h3>

  <form>
    <div>Select node:</div>
    <select ng-options="node.id as node.id for node in nodes.nodes track by node.id" ng-model="nodeId"></select>

    <div>Select new parent node:</div>
    <select ng-options="node.id as node.id for node in nodes.nodes track by node.id" ng-model="parentNodeId"
      ></select>
    <br>
    <button class="myBtn" ng-click="modifyParent()">Update parent</button>
  </form>

  <div class="resultText">{{message.message}}</div>
</div>
